<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Статистика вашего процессора </title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                <div style="width: 100px; height: 100px; margin-right: 50%; margin-left: 50%;">Загрузка процессора</div>
                <div id="cpu-graph" style="width: 900px; height: 300px;"></div>
                <div style="width: 100px; height: 100px; margin-right: 50%; margin-left: 50%;">Средняя загрузка процессора</div>
                <div id="avg-graph" style="width: 900px; height: 300px; "></div>
            </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
